.main {
  display: flex;
  min-height: 100vh;

  .main_left {
    background: $bg-white;
    padding: 20px;
    transition: width 0.3s ease;
  }

  .main_right {
    width: 100%;
    height: 100%;
    .main_content {
      .container {
        padding: 1rem 1.5rem 0;
        width: 100%;
      }
    }
  }
}
